<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="net.sourceforge.phpeclipse.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="net.sourceforge.phpeclipse.externaltools.ATTR_TOOL_ARGUMENTS" value="--standalone"/>
<stringAttribute key="net.sourceforge.phpeclipse.externaltools.ATTR_LOCATION" value="c:\apache\mysql\bin\mysqld-nt.exe"/>
<booleanAttribute key="net.sourceforge.phpeclipse.externaltools.ATTR_RUN_IN_BACKGROUND" value="true"/>
</launchConfiguration>
